body {
    background: url(http://wedding.xiangzhuyuan.com/test1/asserts//images/bg_top2.png) repeat;
}

#top {
    background: url(http://wedding.xiangzhuyuan.com/test1/asserts//images/title_bg1.png) center top no-repeat;
    height: 38px;
}

#middle {
    /*height: 30px;*/
    background: url(http://wedding.xiangzhuyuan.com/test1/asserts//images/title_bg2.png) center repeat-y;
    text-align: center;
    vertical-align: middle;
}

#bottom {
    background: url(http://wedding.xiangzhuyuan.com/test1/asserts//images/title_bg1.png) center bottom no-repeat;
    height: 30px;
}

#footer {
    background: url(http://wedding.xiangzhuyuan.com/test1/asserts//images/bg_top1.png) center bottom repeat-x;
    height: 30px;
    margin-top: 5px;
    margin-bottom: -1px;
}

.ui-accordion-header {
    background: url(http://wedding.xiangzhuyuan.com/test1/asserts//images/btn_bg1.png) repeat-x;
}

#main-footer {
    background: url(http://wedding.xiangzhuyuan.com/test1/asserts//images/bg_bottom.png) repeat;
    height: 30px;
    padding-top: 30px;
}

footer {
    text-align: center;
    vertical-align: middle;
    margin: 10px auto;
}
.ui-accordion .ui-accordion-header{
    margin-top: 0px;
}